<div class="card">
  <div class="card-content">
    <h5><%= @student.proper_name %></h5><br />

    <b>Organization:&nbsp;&nbsp;</b>
      <%= link_to @student.organization.name, organization_path(@student.organization) %><br><br>

    <b>Current Team:&nbsp;&nbsp;</b>
      <%= @student.current_team.nil? ? "N/A" : link_to(@student.current_team.name, team_path(@student.current_team)) %><br><br>

    <b>Grade:&nbsp;&nbsp;</b>
      <%= @student.grade %><br><br>

    <b>Active?&nbsp;&nbsp;</b>
      <%= @student.active ? "Yes" : "No" %><br><br>

  </div>
</div>